.container {
    height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.job {
    color: gray;
}

@media only screen and (min-width: 600px) {
    .name {
        font-size: 2.5rem;
    }

    .job {
        font-size: 1.2rem;
    }
}


.photo {
    max-height: 25rem;
    max-width: 80vw;
    margin-bottom: 1rem;
    border-radius: 50%
}

.workplace {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: .5rem;
    color: gray;
    padding: 0 2rem;
}

.contact-container {
    display: flex;
    gap: 1rem;

    .contact {
        display: flex;
        align-items: center;
        color: gray;
        position: relative;

        mat-icon {
            transform: scale(0.8)
        }
    }
}