.container  {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: .2rem;
}

.job {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: .1rem;
    color: gray;
}

.photo {
    max-height: 30rem;
    margin-bottom: 2rem;
    max-width: 100%;
}

.workplace,
.telephone,
.email {
    font-size: 1rem;
    margin-bottom: .5rem;
}