<div @fade *ngIf="homeInfo$ | async as homeInfo" class="container">
    <h1 class="name">
        {{homeInfo.name}}
    </h1>
    <h2 class="job">
        {{homeInfo.job}}
    </h2>
    <img [src]="homeInfo.photo.url" class="photo">

    <div class="workplace">
        <span>{{homeInfo.faculty}}</span>
        <span>{{homeInfo.address}}</span>
    </div>
    <div class="contact-container">
        <div class="contact">
            <mat-icon fontIcon="call"></mat-icon>
            <a [href]="'tel:' + homeInfo.telephone" style="text-decoration: none;">
                {{homeInfo.telephone}}
            </a>
        </div>
        <div class="contact">
            <mat-icon fontIcon="mail"></mat-icon>
            <a [href]="'mailto:' + homeInfo.email" style="text-decoration: none;">
                {{homeInfo.email}}
            </a>
        </div>
    </div>
</div>