.container {
    padding: 4rem 15rem;
}

.section:not(:last-child) {
    margin-bottom: 1.5rem;
}

.section-title {
    font-size: 1.5rem;
    position: relative;
    font-weight: 400;
    letter-spacing: .2rem;
    color: gray;
}
.section-title::after {
    position: absolute;
    content: "";
    height: 2px;
    bottom: -0;
    left: -2rem;
    width: 70vw;
    background-color: gray;
    border-radius: 1px;
}

.item {
    list-style: none;
    font-size: 1rem;
    letter-spacing: .05rem;
    line-height: 1.8rem;
}

.item:not(:last-child) {
    margin-bottom: 1rem;
}

.chevron {
    transform: translateY(.3rem);
    color: gray;
}