.container {
    padding: 2rem 1rem;
}

@media only screen and (min-width: 768px) {
    .container {
        padding: 2rem 4rem;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        padding: 2rem 15rem;
    }
}

.section:not(:last-child) {
    margin-bottom: 1.5rem;
}

mat-list-item {
    border-radius: 10px !important;

    &.link {
        cursor: pointer;
    }
    &:hover {
        background-color: whitesmoke;
        padding-left: 30px;
        transition: all .3s;
    }
}